h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

button {
  cursor: pointer;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  font-size: 14px;
  transition: 0.2s ease;
}

/* ======== LISTA DE PACIENTES ======== */

.paciente-item {
  background: #ffffff;
  padding: 14px 18px;
  margin: 10px auto;
  max-width: 450px;
  border-radius: 10px;
  box-shadow: 0px 3px 8px rgba(0,0,0,0.12);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paciente-item p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.paciente-item button {
  background: #1976d2;
  color: white;
}

.paciente-item button:hover {
  background: #0d4d8a;
}


button.volver {
  background: #1976d2;
  color: #fff;
  width: 150px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 20px;
}

button.volver:hover {
  background: #1d87f1;
}

.historia-item {
  background: #fdfdfd;
  padding: 15px 18px;
  margin: 12px auto;
  max-width: 550px;
  border-left: 4px solid #1976d2;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

.historia-item p {
  margin: 4px 0;
  font-size: 15px;
}

.historia-item hr {
  margin-top: 12px;
  opacity: 0.3;
}


.historia-item div {
  margin: 5px 0;
  padding-left: 8px;
  border-left: 3px solid #ccc;
}

.historia-item div b {
  color: #444;
}

.cargando {
  text-align: center;
  color: #02b0e6;
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.paciente-card {
  background: #e4e4e4;
  padding: 18px;
  border-radius: 14px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
  margin-bottom: 20px;
  width: 20%;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.paciente-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

.paciente-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}

.ultimos-turnos h4 {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}

.turno-item {
  display: flex;
  gap: 10px;
  padding: 6px 0;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
}

.turno-item:last-child {
  border-bottom: none;
}

.fecha {
  font-weight: bold;
}

.hora {
  color: #555;
}

.especialidad {
  margin-left: auto;
  font-style: italic;
  color: #444;
}

.no-turnos {
  font-style: italic;
  color: #777;
}

.btn-ver {
  margin-top: 15px;
  padding: 8px 14px;
  background: #4a90e2;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: background 0.2s ease;
}

.btn-ver:hover {
  background: #2a78d7;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}