.navbar {
    font-family:'Courier New', Courier, monospace;
    background-color: #1E3A8A;
    padding: 20px;

    a {
        color:#4fd3e4;
        margin: 15px;
        padding: 20px;
    }
    a:hover{
        color: gold;
        background-color: black;
    }
}