<div class="cargando" *ngIf="cargando">Cargando tus turnos...</div>

<input type="text" placeholder="Filtrar por paciente o especialidad" *ngIf="!cargando && turnosFiltrados.length >= 0" (input)="filtrarTurnos($event)">

<div class="noTurnos" *ngIf="!cargando && turnosFiltrados.length === 0">
  No tenés turnos asignados.
</div>


<div *ngFor="let turno of turnosFiltrados" class="form-container">


    <p><b>Paciente:</b> {{ turno.pacienteNombre || turno.paciente_id }}</p>
    <p><b>Especialidad:</b> {{ turno.especialidad }}</p>
    <p><b>Fecha:</b> {{ turno.fecha }}</p>
    <p><b>Hora:</b> {{ turno.hora }}</p>
    <p>
    <b>Estado:</b>
    <span [ngClass]="{
        'estado-pendiente': turno.estado === 'Pendiente',
        'estado-aceptado': turno.estado === 'Aceptado',
        'estado-cancelado': turno.estado === 'Cancelado',
        'estado-rechazado': turno.estado === 'Rechazado',
        'estado-realizado': turno.estado === 'Realizado'
    }">
        {{ turno.estado }}
    </span>
    </p>

    <div class="acciones">
    <button *ngIf="!['Aceptado','Realizado','Rechazado'].includes(turno.estado)" (click)="cancelarTurno(turno)">Cancelar</button>
    <button *ngIf="!['Aceptado','Realizado','Cancelado'].includes(turno.estado)" (click)="rechazarTurno(turno)">Rechazar</button>
    <button *ngIf="!['Realizado','Cancelado','Rechazado'].includes(turno.estado)" (click)="aceptarTurno(turno)">Aceptar</button>
    <button *ngIf="turno.estado === 'Aceptado'" (click)="finalizarTurno(turno)">Finalizar</button>
    <button *ngIf="turno.resena" (click)="verResena(turno.resena)">Ver reseña</button>
    </div>
</div>