label{
  color:#4fd3e4;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  text-align: center;
  color: #2aebff;
}

.campo {
  display: block;
  margin-bottom: 2px;
}

.form-container {
  max-width: 600px;
  margin: 15px auto;
  padding: 24px;
  border-radius: 12px;
  background: #0B1C4C;
}

.campo {
  margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 6px 8px;
  margin-top: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 14px;
}

button{
  font-family: 'Press Start 2P', system-ui;
  font-weight: bold;
  background: #FACC15;
  color: #0B1C4C;
  padding: 10px;
  border-radius: 8px;
  width: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fab-container {
  position: fixed;
  bottom: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

.fab-button {
  width: 70px;
  height: 66px;
  border-radius: 50%;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0,0,0,0.18);
  display: flex;
  align-items: center;
  justify-content: center;
}

.fab-options {
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fab-item {
  margin-top: 4px;
  width: 70px;
  height: 66px;
  border-radius: 50%;
  padding: 0;
  border: none;
  overflow: hidden;
  background: #2aebff;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.fab-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  background: #efefef;
}

.fab-text {
  padding: 6px 10px;
  font-size: 12px;
  color: #333;
}