h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tabla-logs {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabla-logs th, .tabla-logs td {
  border: 1px solid #ccc;
  padding: 8px;
}

.tabla-logs th {
  background: #f3f3f3;
}

.vacio {
  text-align: center;
  color: gray;
}

.acciones {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  background: #3f51b5;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.cargando{
  text-align: center;
  color: #02b0e6;
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}