<div class="cargando" *ngIf="cargando">Cargando turnos...</div>

<div class="filtro-container">
    <input class="filtro-turnos" type="text" placeholder="Filtrar por paciente, especialista o especialidad" *ngIf="!cargando && turnosFiltrados.length >= 0" (input)="filtrarTurnos($event)">
</div>

<div class="noTurnos" *ngIf="!cargando && turnosFiltrados.length === 0">
    No hay turnos registrados.
</div>

<div *ngFor="let turno of turnosFiltrados" class="form-container"> 
    <p><b>Especialidad:</b> {{ turno.especialidad }} </p>
    <p><b>Especialista:</b> {{ turno.especialistaNombre }} </p>
    <p><b>Paciente:</b> {{ turno.pacienteNombre }} </p>
    <p><b>Fecha:</b> {{ turno.fecha }} </p>
    <p><b>Hora:</b> {{ turno.hora }} </p>
    <p>
        <b>Estado:</b>
            <span [ngClass]="{
                'estado-pendiente': turno.estado === 'Pendiente',
                'estado-cancelado': turno.estado === 'Cancelado',
                'estado-realizado': turno.estado === 'Realizado'
            }">
                {{ turno.estado }}
            </span>
    </p>

    <div class="acciones">
    <button *ngIf="!['Aceptado','Realizado','Rechazado', 'Cancelado'].includes(turno.estado)" (click)="cancelarTurno(turno)">Cancelar</button>
    </div>
</div>