.contenedor {
  width: 90%;
  margin: auto;
  padding-top: 20px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.tabla {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.tabla th, .tabla td {
  border: 1px solid #ccc;
  padding: 8px;
}

.tabla th {
  background: #f3f3f3;
}

.vacio {
  text-align: center;
  color: gray;
}

.acciones {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.loading {
  text-align: center;
  color: #02b0e6;
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}

.btn {
  padding: 6px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background: #2196f3;
  color: white;
}

.btn.habilitado {
  background: #e74c3c;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
}

.card {
  width: 220px;
  background: #fafafa;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  cursor: pointer;
  text-align: center;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.03);
}

.foto {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
}

.excelContainer{
  display: flex;
  align-items: center;
  justify-content: center;
}