<div class="cargando" *ngIf="cargando">Cargando...</div>

<div class="form-container" *ngIf="!cargando">

  <div *ngIf="rol === 'admin'">
    <label>Paciente:</label>
    <select [(ngModel)]="pacienteSeleccionado" (change)="cambiarPaciente()">
      <option [ngValue]="null">--Seleccione--</option>
      <option *ngFor="let p of pacientes" [ngValue]="p">
        {{ p.nombre }}
      </option>
    </select>
  </div>

  <div class="especialistas-grid" *ngIf="especialistas && especialistas.length > 0">

    <div 
      class="especialista-card" 
      *ngFor="let e of especialistas" 
      [class.selected]="especialistaSeleccionado?.id === e.id"
      (click)="seleccionarEspecialista(e)"
    >
      <div class="nombre">{{ e.nombre | capitalizar }}</div>
      <img 
        class="avatar" 
        [src]="e.fotos" 
        alt="foto especialista"
      />
    </div>

  </div>

  <div class="especialidades-grid" *ngIf="rol === 'admin' && pacienteSeleccionado && especialistaSeleccionado">

      <div 
        class="especialidad-card"
        *ngFor="let esp of especialidades"
        (click)="seleccionarEspecialidad(esp)"
      >
          <img 
            [src]="especialidadImagenes[esp] || especialidadImagenes['default']"
            alt="{{esp}}"
          >
          <p>{{ esp }}</p>
      </div>
  </div>

  <div *ngIf="rol === 'paciente' && especialistaSeleccionado" class="especialidades-grid">
    <div 
      class="especialidad-card"
      *ngFor="let esp of especialidades"
      (click)="seleccionarEspecialidad(esp)"
    >
        <img 
          [src]="especialidadImagenes[esp] || especialidadImagenes['default']"
          alt="{{esp}}"
        >
        <p>{{ esp }}</p>
    </div>

  </div>

  <div *ngIf="especialidadSeleccionada" class="dias-grid">

    <div class="dia-card"
        *ngFor="let dia of diasDisponibles"
        (click)="seleccionarDia(dia)"
        [class.selected]="diaSeleccionado?.toDateString() === dia.toDateString()">

      <p>{{ dia | date:'EEEE' }}</p>
      <span>{{ dia | date:'dd/MM' }}</span>
    </div>

  </div>

  <div class="horas-grid" *ngIf="diaSeleccionado">

    <div class="hora-card"
        *ngFor="let h of horasDisponibles"
        (click)="horaSeleccionada = h"
        [class.selected]="horaSeleccionada === h">
      {{ h }}
    </div>

  </div>

  <button (click)="solicitarTurno()"
          [disabled]="!especialidadSeleccionada || !especialistaSeleccionado || !diaSeleccionado || !horaSeleccionada">
    Solicitar Turno
  </button>
</div>